
  <div *ngIf="movie">

    <h1 mat-dialog-title> {{movie.Title}}l</h1>


    <div mat-dialog-content>
      <img style="max-height:400px;" [src]=" movie.Poster == 'N/A' ? 'https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg' : movie.Poster " [alt]="movie.Title">



      <mat-list>
        <mat-list-item *ngFor="let prop of properties">
          <strong>  {{prop}}  </strong>  {{ movie[prop] }}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

      <div *ngIf="movie.Ratings?.length > 0 ">
        <h4> Awards</h4>

        <mat-list>
          <mat-list-item *ngFor="let rating of movie.Ratings">
            <strong>  {{rating.Source}}  </strong>  {{ rating.Value}}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

      </div>

    </div>

    <app-loader *ngIf="loading"></app-loader>
  </div>
