<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side" class="app-sidenav">


  </mat-sidenav>



  <div class="app-content" fullscreen>
    <div class="container" style="min-height: 100vh;">
      <mat-card>

        <mat-form-field class="full-w">
          <input matInput [(ngModel)]="querySearch"
                 placeholder="Movie name" required>
          <mat-hint>
            <small>
              Get movie by name
            </small>

          </mat-hint>
        </mat-form-field>
      </mat-card>



      <mat-card>

        <mat-card-title>Last Queries</mat-card-title>
        <mat-card-subtitle>Last 5 queries </mat-card-subtitle>
        <mat-card-content>

          <mat-chip-list>
            <mat-chip *ngFor="let search  of   service.lastQueries | async  ">
              {{ search.Query}}
              {{ search.Date |  date:'shortTime' }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>


      <app-loader *ngIf="loading"></app-loader>
      <div class="card-place">
        <mat-card *ngFor="let movie of movies" (click)="laodMovie(movie)">
          <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>{{movie.Type}}</mat-card-subtitle>
            <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
          </mat-card-header>
          <img class="cubic" mat-card-image [src]=" movie.Poster == 'N/A' ? 'https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg' : movie.Poster " [alt]="movie.Title">
          <mat-card-content>
            <mat-card-title>{{movie.Imbd}}</mat-card-title>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Click for details</button>

          </mat-card-actions>
        </mat-card>
      </div>

      <mat-card *ngIf="nextPage !==  1 ">
        <button mat-raised-button (click)="loadNext()" color="accent">Load Page {{nextPage}}</button>
      </mat-card>


       <p *ngIf="!loading  && movies == null && querySearch != null ">Nothing found </p>
    
    </div>



  </div>
</mat-sidenav-container>
